<div class="my-3 p-0 bg-white shadow-sm rounded-xl">
    <h6 class="border-bottom border-gray p-3 mb-0">
        <i class="fas fa-briefcase"></i>&nbsp;  Professional Activities
    </h6>
    <div class="p-3">
        <ul class="mb-0">
            <li class="mb-2">
                Reviewer for <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=5962382" target="_blank">IEEE Wireless Communications Letters</a>
            </li>
            <li class="mb-2">
                Reviewer for <a href="https://icc2025.ieee-icc.org/" target="_blank">International Conference on Communications (ICC)</a>
            </li>
            <li class="mb-0">
                Reviewer for <a href="https://publications.eai.eu/index.php/inis" target="_blank">EAI Endorsed Transactions on Industrial Networks and Intelligent Systems</a>
            </li>
        </ul>
    </div>
</div>